<li>
  <%= gravatar_for user, size: 50 %>
  <%= user.name %>
  <%= user.email %>
</li>
<li>
  <%= link_to 'Show', user %>
  <%= link_to 'Edit', edit_user_path(user) %>
  <% if current_user.admin? %>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>
