<header class="navbar navbar-fixed-top navbar-light" style="background-color:
 #e3f2fd;">
      <div class="container">

              <nav>
                      <ul class="nav navbar-nav navbar-right">
                      <li><%= link_to "Tidy Spaces", root_path, class:"navbar-brand"%></li>
    <li><%=link_to (image_tag("diamond.png", alt: "Tidy Spaces", size: "40x40")), root_path%></li>

                        <li><%= link_to "Home", root_path, class:"btn btn-secondary"%></li>
                        <li><%= link_to "About", about_path, class:"btn btn-secondary" %></li>
                        <li><%= link_to "Contact", contact_path, class:"btn btn-secondary" %></li>
                        <li><%= link_to "Testimonials", testimonials_path, class:"btn btn-secondary" %></li>
                        <li><%= link_to "Log in", login_path, class:"btn btn-secondary" %></li>
                        <li><%= link_to "Sign up", users_new_path, class:"btn btn-secondary" %></li>
                </ul>
              </nav>
      </div>
</header>
